bin/
obj/
out/

Backend.API/bin/
Backend.API/obj/

Backend.Application/bin/
Backend.Application/obj/

Backend.Domain/bin/
Backend.Domain/obj/

Backend.Domain.Test/bin/
Backend.Domain.Test/obj/

Backend.Infra.Data/bin/
Backend.Infra.Data/obj/

Backend.Infra.Ioc/bin/
Backend.Infra.Ioc/obj/

Backend.WebUI/bin/
Backend.WebUI/obj/